/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary: #1aac83;
  --secondary: rgb(175, 231, 45);
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

/* Nav bar CSS*/

nav .container {
  max-width: 95%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav h1 {
  color: var(--primary)
}

.signup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav button {
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
}

hr {
  color: grey;
}

/* HOME page CSS */

.home, .admin-page, .user-cases {
  margin: auto;
  padding: 10px 20px;
  max-width: 1400px;
}

.home section, .admin-page section, .user-cases section {
  margin-bottom: 40px;
}

.hook {
  margin: 40px 0px;
}

.data {
  margin-bottom: 50px;
}

.data button {
  background-color: var(--secondary);
  border: none;
  height: 80px;
  width: 80px;
  border-radius: 10px;
  margin: 20px;
  font-weight: bolder;
}

h2 {
  margin-bottom: 30px;
}

.explainer button {
  background-color: var(--primary);
  border: none;
  height: 50px;
  width: 80px;
  border-radius: 10px;
  margin: 20px;
  font-weight: bolder;
}

/* FORM generic items */

form button {
  background-color: var(--primary);
  border: none;
  width: 80%;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

form h2 {
  color: var(--primary)
}

form p {
  margin-bottom: 10px;
}

form label {
  margin-bottom: 5px;
}

form input, select {
  margin-bottom: 5px;
  height: 35px;
}

/* SMALL Form */

form.small {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  max-height:400px;
  margin: 40px auto;
  align-items: center;
  padding: 20px;
  background-color: rgb(217, 217, 217);
  border-radius: 5px;
}

form.small .items {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10px;
  border-radius: 5px;
}

/*LARGE FORM */

form.large {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 40px auto;
  align-items: center;
  padding: 20px;
  background-color: rgb(217, 217, 217);
  border-radius: 5px;
}

form.large .item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 40px;
}

form.large .details {
  display: flex;
  flex-direction: column;
  width: 50%;
}

form.large .info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
}

/* CASE overview */

.case-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 800px;
  background-color: rgb(217, 217, 217);
  border-radius: 7px;
}

.case-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.case-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.case-options button {
  background-color: var(--primary);
  border: none;
  width: 80%;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

/* INCIDENT */

.incident-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 800px;
  background-color: rgba(170, 238, 170, 0.675);
  /* border: solid 3px var(--primary); */
  border-radius: 7px;
}

.incident-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.incident-summary button {
  background-color: var(--primary);
  border: none;
  width: 15%;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.incident-detail {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
}

.incident-container section {
  width: 50%;
  justify-content: space-between;
}
